@font-face {
    font-family: 'boycottregular';
    src: url('/fonts/boycott_-webfont.eot'),
         url('/fonts/boycott_-webfont.woff2') format('woff2'),
         url('/fonts/boycott_-webfont.woff') format('woff'),
         url('/fonts/boycott_-webfont.svg#boycottregular') format('svg');
    font-weight: normal;
    font-style: normal;

}